<div class="row m10">
    <div class="col">
      
      <h2>Mis naves</h2>
          <div class="input-group buscar">
            <span class="input-group-text" ><i class="fa fa-search"></i></span>
            <input type="text" 
                   name="search" 
                   class="form-control" 
                   placeholder="Buscar naves por nombre o caracteristica..."
                   (keyup)="buscar()"
                   #txtBuscar>
          </div>
          <hr>

          <h6>Filtros</h6>
          <div class="form-check">
            <input class="form-check-input" #txtTipo value="none" type="radio" checked name="flexRadioDefault" id="flexRadioDefault" (click)="buscarTipo( txtTipo.value )">
            <label class="form-check-label" for="flexRadioDefault">
              Ninguno
            </label>
          </div>
          <div class="form-check" *ngFor="let tipo of tipos">
            <input class="form-check-input" 
                   type="radio"
                   [value]="tipo" 
                   #txtTipo 
                   name="flexRadioDefault" 
                   [id]="tipo"
                   (click)="buscarTipo( txtTipo.value )"
                   >
            <label class="form-check-label" [for]="tipo">
              {{tipo}}
            </label>
          </div> 
          
      
        <hr>    
    </div>

    <table class="table-responsive">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Potencia</th>
            <th>Velocidad</th>
            <th>Peso</th>
            <th>Proposito</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let naves of navesPorDefecto; let i=index" class="text-center">
            <th scope="row">{{ i+1 }}</th>
            <td> <img src="{{naves.img}}" /></td>
            <td>{{ naves.nombre }}</td>
            <td>{{ naves.tipo }}</td>
            <td>{{ naves.potencia }} HP </td>
            <td>{{ naves.velocidad }} Km/s</td>
            <td>{{ naves.peso }} Kg</td>
            <td><button class="btn btn-primary" (click)="verAcciones( i )">Ver Proposito</button></td>

          </tr>
          
        </tbody>
      </table>
      <hr>

      <div class="text-end">
        <button class="btn btn-warning" (click)="CrearNave()"> Crear Nave </button>
      </div>
</div>