<div class="row m10">
    <div class="col">
        <h2>Mis naves</h2>
        <hr>    
    </div>

    <table class="table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Potencia</th>
            <th scope="col">Velocidad</th>
            <th scope="col">Peso</th>
            <th scope="col">Tarea</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let naves of navesPorDefecto; let i=index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ naves.nombre }}</td>
            <td>{{ naves.potencia }} </td>
            <td>{{ naves.velocidad }}</td>
            <td>{{ naves.peso }}</td>
            <td>{{ naves.tarea }}</td>
            <td>{{ naves.tipo }}</td>
            <td> <button class="btn btn-primary" (click)="verAcciones( i )">Ver Acciones</button> </td>
          </tr>
          
        </tbody>
      </table>
</div>