<div class="row m10">
    <div class="col">
        <h2>Mis naves</h2>
        
        <hr>    
    </div>

    <table class="table-responsive">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Potencia</th>
            <th>Velocidad</th>
            <th>Peso</th>
            <th>Proposito</th>
            <!-- <th>Elimar Nave</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let naves of navesPorDefecto; let i=index" class="text-center">
            <th scope="row">{{ i+1 }}</th>
            <td> <img src="{{naves.img}}" /></td>
            <td>{{ naves.nombre }}</td>
            <td>{{ naves.tipo }}</td>
            <td>{{ naves.potencia }} HP </td>
            <td>{{ naves.velocidad }} Km/s</td>
            <td>{{ naves.peso }} Kg</td>
            <td><button class="btn btn-primary" (click)="verAcciones( i )">Ver Proposito</button></td>
            <!-- <td><button class="btn btn-danger" (click)="eliminarNave( i )"> Eliminar Nave</button></td> -->

          </tr>
          
        </tbody>
      </table>
      <hr>

      <div class="text-end">
        <button class="btn btn-warning" (click)="CrearNave()"> Crear Nave </button>
      </div>
</div>